adf_pl_data_ingestion
{
    "name": "pl_ingestion",
    "properties": {
        "activities": [
            {
                "name": "Last_load",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": "Select * from watermark",
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "ds_source_sql_db",
                        "type": "DatasetReference",
                        "parameters": {
                            "table_name": "watermark"
                        }
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "Current_load",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": "SELECT MAX(Date_ID) as max_date from source_cars",
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "ds_source_sql_db",
                        "type": "DatasetReference",
                        "parameters": {
                            "table_name": "watermark"
                        }
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "Copy incremental load",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Last_load",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "Current_load",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": {
                            "value": "select * from source_cars\nwhere Date_ID > '@{activity('Last_load').output.value[0].last_load}' AND Date_ID <= '@{activity('Current_load').output.value[0].max_date}'",
                            "type": "Expression"
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "sink": {
                        "type": "ParquetSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "ParquetWriteSettings"
                        }
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "ds_source_sql_db",
                        "type": "DatasetReference",
                        "parameters": {
                            "table_name": "source_cars"
                        }
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "ds_bronze",
                        "type": "DatasetReference",
                        "parameters": {
                            "container": "bronze"
                        }
                    }
                ]
            },
            {
                "name": "watermark_update",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Copy incremental load",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[UpdateWaterMark]",
                    "storedProcedureParameters": {
                        "lastload": {
                            "value": {
                                "value": "@activity('Current_load').output.value[0].max_date",
                                "type": "Expression"
                            }
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "ls_sql_source_db",
                    "type": "LinkedServiceReference"
                }
            }
        ],
        "annotations": []
    }
}
